<% if (!user){ %>
    <div style="width: 100%; background: red; padding: 20px; margin: 0; color: white; text-align: center;">
        This site is in beta. Join Now For Free and help us make improvements.
    </div>
<% } %>